# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Data (IMPORTANT - don't upload raw data)
data/raw/

# Logs
*.log